version: "3.8"

services:
  api:
    build: ./api
    container_name: api
    ports:
      - "80:80"         
    depends_on:
      - redis

  redis:
    image: ghcr.io/qregistry/standard/redis:latest
    container_name: redis
    ports:
      - "6379:6379"     
